<h1>List of All Songs</h1>

<table>
  <tr>
    <th>Song Title</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Release Year</th>
  </tr>

  <tr>
    <% @songs.each do |song| %>
      <td><%= song.title %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.genre %></td>
      <td><%= song.release_year %></td>
    <% end %>
  </tr>
</table>

<%= link_to "Create Song", new_song_path %>
